.reviews-overview{
    margin-top: 40px;
    font-size: 28px;
    color: rgb(92, 90, 90);
    font-weight: bold;
}

.reviews-readmore{
    margin-top: 40px;
    font-size: 12px;
    color: rgb(92, 90, 90);
    font-weight: bold;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-color: rgb(184, 183, 183);
    border-width: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto; 
    cursor: pointer;
}
.reviews-readmore:hover{
    background-color: #a29e9e;
    color: white;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
}

.ant-modal {
    width: 75% !important; 
    max-width: 1200px; 
    overflow: hidden; 
}

.ant-modal-body {
    overflow-y: auto;
    overflow-x: hidden; 
}

.ant-modal-header {
    background-color: #003459; 
    color: white; 
}

.ant-modal-title {
    font-size: 24px; 
}

.ant-modal-close {
    color: white; 
}

.ant-modal-footer {
    text-align: center; 
}


.ant-modal-content {
    border-radius: 15px; 
    padding: 20px;
}

.header-Modal {
    padding: 20px;
    border-radius: 4px;
}

.header-Modal p {
    margin: 0;
    font-size: 16px;
}

.header-Modal select {
    margin-top: 10px;
}


.search-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
    overflow: hidden; 
    margin-top: 20px;
}

.search-input {
    width: 600px; 
    margin-top: 10px;
}


.review-list-container {
    display: flex;
    height: 300px;
    flex-direction: column;
    overflow-y: auto;
}

.review-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.reviews-comment-text {
    margin-left: 10px;
}

.review-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Circular profile image */
    object-fit: cover;
}

.date-review {
    font-size: 12px;
    color: #777;
    margin-left: 10px;
}

.star-color-rating{
    color: gold;
}

.star-color-fail{
    color: #777;
}

.highlighted-text {
    font-weight: bold;
    font-size: 20px; 
  }

.star-container {
    display: flex; /* จัดเรียงเป็นแถว */
    gap: 1px; /* ระยะห่างระหว่างดาว */
    align-items: center;

}

.rating-stars {
    display: inline-flex; /* ทำให้ดาวเรียงต่อกันในแถวเดียว */
    margin-left: 5px; /* เพิ่มช่องว่างระหว่างคำว่า "Rating:" และดาว */
    gap: 3px; /* ระยะห่างระหว่างแต่ละดาว */
    vertical-align: middle; /* ทำให้ดาวอยู่แนวเดียวกับข้อความ */
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 20px;
  }

  .box-course-profile{
    margin-left: 20px;
    margin-right: 20px;
  }