.navbar-zookeeper {
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* กระจายเนื้อหาในแถบ */
    padding: 0 20px;
  }
  
  .navbar-zookeeper img {
    height: 50px;
  }
  
  .navbar-zookeeper div, .navbar-zookeeper a {
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px; /* ปรับระยะห่างระหว่างไอเทม */
    cursor: pointer;
    display: flex;
    align-items: center; /* จัดให้ตรงกลางในแนวตั้ง */
    text-decoration: none; /* ลบเส้นขีดใต้ */
  }
  
  .navbar-zookeeper a {
    color: white; /* สีตัวอักษรของ Link */
  }
  
  .navbar-zookeeper div.icon {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  