
body {
    background-color: rgb(29, 36, 34);
}

.navbar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-user img {
    height: 60px;
}

.navbar-user div {
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 120px;
    cursor: pointer;
    display: flex;
    align-items: center;
}